li {display: inline; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; float: left;}

ul{ display: inline; 
    background-color: beige;
    text-align: center;
    list-style-type: none; margin: 100px;padding: 50;}

    a {
        display: block;
        padding: 20px;
        margin: 20px;
        background-color: #ffffff;
        display: flex;}